.App {
  font-family: Arial, Helvetica, sans-serif;
}

.App-body {
  padding: 48px;
}

.App-footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  border-top: 4px solid #DF344B; 
  font-style: italic;
}

.App-header {
  width: 100%;
  display: flex;
  align-items: center;
  color: #DF344B ;
  border-bottom: 4px solid #DF344B; 
  margin: 0;
}

.App-logo {
  width: 225px;
}
