.Notifications {
  border: 1px dashed red;
  padding: 8px;
  float: right;
}

.menuItem {
  float: right;
}

[data-notification-type='default'] {
  color: blue;
}

[data-notification-type='urgent'] {
  color: red;
}
